$color-white: #fff;
$color-blue-black: #1B1C21;
$color-radical-red: #FF3E79;
$color-light-turquoise: #41F6D7;
$color-smoky-white: #F8F8F8;
$color-pale-blue: #7E7E82;
$text-font-size: 16px;
$text-line-height: 24px;