@font-face {
  font-family: "TTLakes";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/TTLakesCondensed-Medium.woff2") format("woff2"), url("../fonts/TTLakesCondensed-Medium.woff") format("woff");
}
@font-face {
  font-family: "TTLakes";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TTLakes-Regular.woff2") format("woff2"), url("../fonts/TTLakes-Regular.woff") format("woff");
}
@font-face {
  font-family: "TTLakes";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/TTLakes-Medium.woff2") format("woff2"), url("../fonts/TTLakes-Medium.woff") format("woff");
}
@font-face {
  font-family: "TTLakes";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TTLakes-Bold.woff2") format("woff2"), url("../fonts/TTLakes-Bold.woff") format("woff");
}
* {
  box-sizing: border-box;
}

html {
  font-family: "TTLakes", sans-serif;
}

body {
  position: relative;
  max-width: 1440px;
  min-width: 300px;
  margin: 0 auto;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 24px;
  color: #1B1C21;
}
body.lock {
  overflow: hidden;
}

main {
  margin-left: 320px;
  max-width: 1120px;
  width: auto;
}
@media (max-width: 1024px) {
  main {
    margin-left: 0;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: #1B1C21;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  padding: 42px 32px 20px 32px;
  background-color: #F8F8F8;
}
@media (max-width: 1024px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (max-width: 540px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.heading {
  position: relative;
}
.heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: -29px;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  background-color: #41F6D7;
}

.subtitle {
  margin-bottom: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: linear-gradient(-270deg, #F8F8F8 0%, #fff 98.61%);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #7E7E82;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -o-border-image: linear-gradient(to right, #F8F8F8 0%, #41F6D7 98%);
     border-image: linear-gradient(to right, #F8F8F8 0%, #41F6D7 98%);
  border-image-slice: 1;
}

.btn {
  position: relative;
  display: flex;
  padding: 8px 30px 8px 17px;
  border: 2px solid #FF3E79;
  border-radius: 16px;
  background-color: #FF3E79;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.btn::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 29%;
  width: 9px;
  height: 9px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-136deg);
  transition: border-color 0.2s ease;
}
.btn:hover {
  background-color: #fff;
  color: #FF3E79;
}
.btn:hover::after {
  border-color: #FF3E79;
}

.show-all {
  position: relative;
  padding-left: 16px;
  padding-bottom: 1px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1;
}
.show-all::before, .show-all::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 40%;
  transition: transform 0.2s ease;
  width: 5px;
  height: 5px;
  border-left: 2px solid #41F6D7;
  border-bottom: 2px solid #41F6D7;
}
.show-all::before {
  top: 10%;
}
.show-all::before, .show-all::after {
  transform: rotate(-45deg);
}
.show-all:hover::before, .show-all:hover::after {
  transform: translateY(4px) rotate(-45deg);
}
.show-all.active {
  display: none;
}

.show-minimize {
  position: relative;
  padding-left: 16px;
  padding-bottom: 1px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1;
  display: none;
}
.show-minimize::before, .show-minimize::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 40%;
  transition: transform 0.2s ease;
  width: 5px;
  height: 5px;
  border-left: 2px solid #41F6D7;
  border-bottom: 2px solid #41F6D7;
}
.show-minimize::before {
  top: 10%;
}
.show-minimize::before, .show-minimize::after {
  transform: rotate(131deg);
}
.show-minimize:hover::before, .show-minimize:hover::after {
  transform: translateY(-4px) rotate(131deg);
}
.show-minimize.active {
  display: block;
}

.hidden-container.active {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

.show-hidden1 {
  display: none;
}

.content-container {
  display: none;
}
.content-container.active {
  display: block;
  -webkit-animation: showAnimation 0.6s ease;
          animation: showAnimation 0.6s ease;
}
@-webkit-keyframes showAnimation {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes showAnimation {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

/*swiper*/
@media (max-width: 540px) {
  .my-swiper {
    position: relative;
    max-width: 350px;
    height: 95px;
    overflow: hidden;
    margin: 0 auto;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -5px;
}

.swiper-pagination-bullet {
  background: #B5B6BC;
}

.header {
  position: relative;
}
@media (max-width: 1024px) {
  .header {
    height: 88px;
    background-color: #fff;
  }
}

.header-container {
  position: absolute;
  top: 42px;
  right: 32px;
  z-index: 5;
}
@media (max-width: 1024px) {
  .header-container {
    top: 25%;
  }
}
@media (max-width: 540px) {
  .header-container {
    right: 16px;
  }
}

.header-submit {
  display: flex;
}
.header-submit__feedback {
  position: relative;
  display: none;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .header-submit__feedback {
    display: block;
  }
}
@media (max-width: 540px) {
  .header-submit__feedback {
    display: none;
  }
}
.header-submit__feedback::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}
.header-submit__feedback img {
  margin-right: 20px;
}
.header-submit__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 600;
}
.header-submit__link:nth-child(2) {
  margin-right: 32px;
}
@media (max-width: 540px) {
  .header-submit__link:nth-child(2) {
    margin-right: 0;
  }
}
.header-submit__link span {
  position: relative;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .header-submit__link span {
    display: none;
  }
}
.header-submit__link span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: width 0.2s ease;
  background-color: #FF3E79;
}
.header-submit__link:hover span::before {
  width: 100%;
}
.header-submit__link img {
  padding-left: 8px;
}
@media (max-width: 540px) {
  .header-submit.active {
    display: none;
  }
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100vh;
  padding: 30px 30px 20px 20px;
  background-color: #fff;
  transition: background 0.2s ease, visibility 0.2s ease, width 0.2s ease;
}
@media (max-width: 1024px) {
  .sidebar {
    position: absolute;
    z-index: 10;
    width: 100%;
    background: transparent;
    visibility: hidden;
  }
}
.sidebar.active {
  visibility: visible;
  background: linear-gradient(to right, #fff 0% 350px, rgba(255, 255, 255, 0.9) 350px);
}
@media (max-width: 540px) {
  .sidebar.active {
    background: #fff;
  }
}
.sidebar .slink {
  display: none;
}
@media (max-width: 1024px) {
  .sidebar .slink {
    position: absolute;
    right: 0;
    display: block;
    width: 70%;
    height: 100%;
  }
}

.sidebar-logo__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
@media (max-width: 1024px) {
  .sidebar-logo__container {
    position: absolute;
    top: -73px;
    left: 20px;
    display: flex;
    align-items: center;
    visibility: visible;
  }
}
.sidebar-logo__container .menu {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FF3E79;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .sidebar-logo__container .menu {
    display: flex;
    margin-right: 40px;
  }
}
@media (max-width: 540px) {
  .sidebar-logo__container .menu {
    margin-right: 20px;
  }
}
.sidebar-logo__container .menu span {
  position: absolute;
  width: 10px;
  height: 2px;
  left: 11px;
  border-radius: 2px;
  background-color: #fff;
  transition: 0.5s ease;
}
.sidebar-logo__container .menu span:nth-child(1) {
  transform: translateY(-8px);
  width: 18px;
}
.sidebar-logo__container .menu span:nth-child(3) {
  transform: translateY(8px);
  left: 11px;
  width: 14px;
}
.sidebar-logo__container .menu.active span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  transition-delay: 0.125s;
}
.sidebar-logo__container .menu.active span:nth-child(2) {
  transform: translateX(60px);
}
.sidebar-logo__container .menu.active span:nth-child(3) {
  width: 18px;
  transform: translateY(0) rotate(315deg);
  transition-delay: 0.25s;
}
.sidebar-logo__container a {
  position: relative;
}
.sidebar-logo__container a::before {
  content: "";
  position: absolute;
  display: none;
  top: 25%;
  left: -20px;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}
@media (max-width: 1024px) {
  .sidebar-logo__container a::before {
    display: block;
  }
}
@media (max-width: 540px) {
  .sidebar-logo__container a::before {
    left: 120px;
  }
}

/*search*/
.sidebar-search {
  position: relative;
  z-index: 0;
  width: 42px;
  height: 42px;
}
@media (max-width: 1024px) {
  .sidebar-search {
    opacity: 0;
    visibility: hidden;
    right: -60px;
    transition: opacity 0.2s ease, visibility 0.2s ease;
  }
  .sidebar-search.active {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 540px) {
  .sidebar-search {
    right: -90px;
  }
}
@media (max-width: 320px) {
  .sidebar-search {
    right: -80px;
  }
}
.sidebar-search__btn {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.sidebar-search__input {
  position: absolute;
  bottom: 2px;
  right: 19px;
  width: 0;
  height: 40px;
  padding-left: 20px;
  border-top: 2px solid #FF3E79;
  border-right: none;
  border-bottom: 2px solid #FF3E79;
  border-left: 2px solid #FF3E79;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: -1;
  outline: none;
  transition: width 0.2s ease;
  font-weight: 600;
}
.sidebar-search__input.active {
  width: 240px;
}
@media (max-width: 1024px) {
  .sidebar-search__input.active {
    width: 261px;
  }
}

.sidebar-nav__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
@media (max-width: 1024px) {
  .sidebar-nav__container {
    width: 320px;
    transform: translateX(-110%);
  }
}
.sidebar-nav__container.active {
  transform: translateX(0);
  box-shadow: 6px 0px 4px -4px rgba(14, 24, 80, 0.2);
}
@media (max-width: 540px) {
  .sidebar-nav__container.active {
    box-shadow: none;
  }
}

.sidebar-nav__list li {
  position: relative;
  font-weight: 700;
  padding-left: 20px;
  margin-left: -18px;
  border-left: 4px solid transparent;
  border-radius: 2px;
  transition: color 0.2s ease, border-color 0.2s ease;
  cursor: pointer;
}
.sidebar-nav__list li:not(:last-child) {
  margin-bottom: 28px;
}
.sidebar-nav__list li span {
  position: relative;
}
.sidebar-nav__list li span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: width 0.2s ease;
  background-color: #41F6D7;
}
.sidebar-nav__list li span:hover::before {
  width: 100%;
}
.sidebar-nav__list li.active {
  color: #7E7E82;
  border-color: #41F6D7;
}

.sidebar-contact {
  margin-top: auto;
  margin-bottom: 40px;
}
.sidebar-contact__feedback {
  display: flex;
  margin-bottom: 16px;
}
.sidebar-contact li {
  cursor: pointer;
}
.sidebar-contact li:not(:last-child) {
  margin-right: 16px;
}
.sidebar-contact li img {
  transition: opacity 0.2s ease;
}
.sidebar-contact li img:hover {
  border-color: var(--color-radical-red);
  opacity: 0.7;
}
.sidebar-contact__connect li:first-child {
  margin-bottom: 12px;
}
.sidebar-contact__connect li a {
  font-weight: 700;
  transition: color 0.2s ease;
}
.sidebar-contact__connect li a:hover {
  color: #7E7E82;
}
.sidebar-contact__connect li .phone {
  font-size: 24px;
  line-height: 32px;
}

.sidebar-language__list {
  display: flex;
  cursor: pointer;
}
.sidebar-language__list li {
  font-weight: 400;
  transition: font-weight 0.2s ease;
}
.sidebar-language__list li:not(:last-child) {
  margin-right: 7px;
}
.sidebar-language__list li:first-child {
  color: #7E7E82;
}
.sidebar-language__list li:hover {
  font-weight: 700;
}

.container-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-empty img {
  padding: 10px 30px;
  margin-bottom: 30px;
  background: linear-gradient(#bbb, transparent 1px), linear-gradient(90deg, #bbb, transparent 1px);
  background-size: 15px 15px;
  background-position: center center;
  opacity: 0.8;
}
.container-empty p {
  text-align: center;
  font-size: 26px;
}
.container-empty p a {
  position: relative;
  font-weight: 700;
  color: #FF3E79;
}
.container-empty p a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: width 0.2s ease;
  background-color: #FF3E79;
}
.container-empty p a:hover::before {
  width: 100%;
}

.services-title {
  margin-bottom: 8px;
  font-size: 28px;
  line-height: 40px;
}

@media (max-width: 768px) {
  .services-nav {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
  }
}
.services-nav__list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .services-nav__list {
    flex-wrap: nowrap;
  }
}
.services-nav__list li {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  padding: 7px 20px;
  border: 1px solid transparent;
  border-radius: 6px;
  color: #7E7E82;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  cursor: pointer;
}
.services-nav__list li:hover {
  background-color: #fff;
}
.services-nav__list li.active {
  border-color: #41F6D7;
  background-color: #fff;
}

.services-info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 540px) {
  .services-info {
    flex-direction: column;
  }
}
.services-info__paragraph {
  padding-right: 36px;
}
@media (max-width: 540px) {
  .services-info__paragraph {
    margin-bottom: 10px;
    padding-right: 0;
  }
}
.services-info__paragraph p {
  margin-bottom: 14px;
  height: auto;
  max-height: 193px;
  line-height: 22px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .services-info__paragraph p {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  .services-info__paragraph p {
    margin-bottom: 8px;
  }
}
.services-info__img {
  max-width: 50%;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 540px) {
  .services-info__img {
    max-width: none;
    border-radius: 10px;
  }
}

.brands-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  overflow: hidden;
  height: auto;
  max-height: 175px;
}
@media (max-width: 540px) {
  .brands-list {
    flex-wrap: nowrap;
    overflow: visible;
  }
}
.brands-list li {
  position: relative;
  width: 22.6%;
  height: 72px;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: #fff;
}
@media (max-width: 540px) {
  .brands-list li {
    width: 240px;
  }
}
.brands-list li:not(:nth-child(4n)) {
  margin-right: 3%;
}
@media (max-width: 768px) {
  .brands-list li {
    width: 31.3%;
  }
  .brands-list li:nth-child(4n) {
    margin-right: 3%;
  }
  .brands-list li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 540px) {
  .brands-list li {
    margin-right: 0 !important;
  }
}
.brands-list li .brands-logo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.brands-list li .brands-logo__container div {
  margin-right: 5px;
}
.brands-list li .brands-logo__container div img {
  max-width: 100%;
  height: auto;
}
.brands-list li span {
  position: relative;
  transition: background-color 0.2s ease, transform 0.2s ease;
  width: 40px;
  height: 100%;
  border: 2px solid #FF3E79;
  border-radius: 50%;
  cursor: pointer;
}
.brands-list li span:hover {
  background-color: #fff0f5;
}
.brands-list li span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 38%;
  left: 37%;
  transform: rotate(-136deg);
  width: 7px;
  height: 7px;
  border-bottom: 2px solid #FF3E79;
  border-left: 2px solid #FF3E79;
}

.types-swiper {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.types-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 24px;
  overflow: hidden;
  height: auto;
  max-height: 175px;
}
@media (max-width: 540px) {
  .types-list {
    flex-wrap: nowrap;
    overflow: visible;
  }
}
.types-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22.6%;
  height: 160px;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: #fff;
  font-weight: 600;
}
@media (max-width: 540px) {
  .types-list li {
    width: 240px;
  }
}
.types-list li:not(:nth-child(4n)) {
  margin-right: 3%;
}
@media (max-width: 768px) {
  .types-list li {
    width: 31.3%;
  }
  .types-list li:nth-child(4n) {
    margin-right: 3%;
  }
  .types-list li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 540px) {
  .types-list li {
    margin-right: 0 !important;
  }
}
.types-list li div {
  display: flex;
  flex-direction: row-reverse;
}
.types-list li div span {
  position: relative;
  transition: background-color 0.2s ease, transform 0.2s ease;
  width: 40px;
  height: 100%;
  border: 2px solid #FF3E79;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.types-list li div span:hover {
  background-color: #fff0f5;
}
.types-list li div span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 38%;
  left: 37%;
  transform: rotate(-136deg);
  width: 7px;
  height: 7px;
  border-bottom: 2px solid #FF3E79;
  border-left: 2px solid #FF3E79;
}

.price-caption {
  display: flex;
  margin-bottom: 16px;
  padding-left: 24px;
}
@media (max-width: 768px) {
  .price-caption {
    padding-left: 16px;
  }
}
@media (max-width: 540px) {
  .price-caption {
    display: none;
  }
}
.price-caption__item {
  width: 36%;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
}
.price-caption__item:first-child {
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: 0-fill-available;
}
@media (max-width: 768px) {
  .price-caption__item {
    width: 41%;
  }
}

@media (max-width: 320px) {
  .price-swiper {
    position: relative;
    max-width: 100%;
    height: 240px;
    overflow: hidden;
    margin-bottom: 20px;
  }
}

.price-list {
  display: block;
  width: inherit;
  margin-bottom: 32px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 6px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .price-list {
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (max-width: 320px) {
  .price-list {
    display: flex;
    margin-bottom: 0;
    padding: 0;
    height: 200px;
  }
}
.price-list li .price-sublist {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 768px) {
  .price-list li .price-sublist {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  .price-list li .price-sublist {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 320px) {
  .price-list li .price-sublist {
    justify-content: space-between;
    border-radius: 6px;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
  }
}
.price-list li .price-sublist:last-child {
  border-bottom: none;
}
@media (max-width: 540px) {
  .price-list li .price-sublist li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}
@media (max-width: 540px) {
  .price-list li .price-sublist li:last-child {
    position: absolute;
    right: 30px;
    bottom: 27px;
  }
}
@media (max-width: 320px) {
  .price-list li .price-sublist li:last-child {
    right: 5px;
  }
}
.price-list li .price-sublist li:not(:last-child) {
  width: 40%;
}
.price-list li .price-sublist li:first-child {
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: 0-fill-available;
}
.price-list li .price-sublist li span {
  font-size: 14px;
  line-height: 1;
  color: #7E7E82;
  display: none;
}
@media (max-width: 540px) {
  .price-list li .price-sublist li span {
    display: inline-block;
  }
}

.price-description {
  max-width: 40%;
}
@media (max-width: 1130px) {
  .price-description {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .price-description {
    max-width: 61%;
  }
}
@media (max-width: 768px) {
  .price-description {
    max-width: none;
  }
}
.price-description__paragraph {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
}
.price-description__link {
  position: relative;
  font-weight: 600;
}
.price-description__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: width 0.2s ease;
  background-color: #FF3E79;
}
.price-description__link::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 29%;
  width: 9px;
  height: 9px;
  border-bottom: 2px solid #FF3E79;
  border-left: 2px solid #FF3E79;
  transform: rotate(-136deg);
}
@media (max-width: 330px) {
  .price-description__link::after {
    top: 65%;
  }
}
.price-description__link:hover::before {
  width: 100%;
}

.footer {
  margin-left: 320px;
  max-width: 1120px;
  width: auto;
}
@media (max-width: 1024px) {
  .footer {
    margin-left: 0;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 540px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__container .footer-info,
.footer__container .footer-privacy {
  margin-bottom: 16px;
}
.footer__container .footer-info__paragraph {
  text-align: center;
}
.footer__container .footer-info__paragraph,
.footer__container .footer-info__link,
.footer__container .footer-privacy__link,
.footer__container .footer-description__paragraph {
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
}
.footer__container .footer-info__link,
.footer__container .footer-privacy__link {
  position: relative;
}
.footer__container .footer-info__link::before,
.footer__container .footer-privacy__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: width 0.2s ease;
  height: 1px;
  background-color: #7E7E82;
}
.footer__container .footer-info__link:hover::before,
.footer__container .footer-privacy__link:hover::before {
  width: 100%;
}
.footer__container .footer-info__paragraph,
.footer__container .footer-privacy__link {
  white-space: nowrap;
}
.footer__container .footer-description {
  width: 330px;
}
@media (max-width: 768px) {
  .footer__container .footer-description {
    width: 213px;
  }
}
@media (max-width: 540px) {
  .footer__container .footer-description {
    width: 100%;
  }
}
.footer__container .footer-description__paragraph {
  text-align: end;
}
@media (max-width: 540px) {
  .footer__container .footer-description__paragraph {
    text-align: center;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}
.modal.open {
  opacity: 1;
  visibility: visible;
}
.modal .close {
  position: relative;
  top: 40px;
  left: -24%;
  width: 38px;
  height: 38px;
  border: 2px solid #FF3E79;
  border-radius: 50%;
  background-color: #FF3E79;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.modal .close:hover {
  background-color: #fff;
}
.modal .close::before, .modal .close::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 50%;
  width: 2px;
  height: 30px;
  border-radius: 2px;
  background-color: #fff;
  transform: rotate(45deg);
  transition: background-color 0.2s ease;
}
.modal .close::after {
  transform: rotate(-45deg);
}
.modal .close:hover::before, .modal .close:hover::after {
  background-color: #FF3E79;
}
@media (max-width: 540px) {
  .modal .close {
    top: -10px;
    left: 0;
  }
}
.modal__container {
  margin-left: auto;
  padding: 0 32px;
  max-width: 440px;
  width: 440px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
@media (max-width: 540px) {
  .modal__container {
    max-width: 100%;
    width: 100%;
    padding-top: 50px;
  }
}
.modal__container-title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 32px;
}
.modal__container-input {
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  padding-left: 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s ease;
}
.modal__container-input:focus {
  border-color: #FF3E79;
}
.modal textarea {
  height: 118px;
  padding: 10px 16px;
}
.modal__info {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}
.modal__info a {
  color: #FF3E79;
}
.modal .btn {
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */