@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'), url('./fonts/Roboto-Regular.woff') format('woff');
}

html {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  padding: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 660px;
  min-height: 700px;
  background-color: #c4c4c4;
  border-radius: 10px;
}

.input {
  width: 500px;
  height: 80px;
  border-radius: 10px;
  font-size: 24px;
}

.dropdown {
  padding: 0;
  border: 1px solid #000;
}

.userItem {
  width: 500px;
  height: 40px;
  background-color: #e3e3e3;
  cursor: pointer;
  transition: background-color .3s ease;
}

.userItem:hover {
  background-color: #e0e0e0;
}

.userItem:not(:last-child) {
  border-bottom: 1px solid #000;
}

.repositorie-list {
  width: 500px;
}

.repositories-items {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  background-color: #E27BEB;
}

.close-btn {
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-btn::before,
.close-btn::after {
  position: absolute;
  content: '';
  top: 2px;
  width: 3px;
  height: 135%;
  border-radius: 3px;
  background-color: #DF5353;
  transition: background-color .3s ease;
}

.close-btn:hover::before,
.close-btn:hover::after {
  background-color: #ff0000;
}

.close-btn::before {
  left: 0;
  transform-origin: top left;
  transform: rotate(-45deg);
}

.close-btn::after {
  right: 0;
  transform-origin: top right;
  transform: rotate(45deg);
}

.massege {
  display: block;
  padding-left: 80px;
  margin-right: auto;
}