@import 'variables';
@import 'mixins';

.container-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  img {
    padding: 10px 30px;
    margin-bottom: 30px;
    background: linear-gradient(#bbb, transparent 1px), linear-gradient(90deg, #bbb, transparent 1px);
    background-size: 15px 15px;
    background-position: center center;
    opacity: .8;
  }

  p {
    text-align: center;
    font-size: 26px;

    a {
      position: relative;
      font-weight: 700;
      color: $color-radical-red;

      &::before {
        @include hoverEffect;
        background-color: $color-radical-red;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }
}