@import 'variables';
@import 'mixins';

.header {
  position: relative;

  @media (max-width: 1024px) {
    height: 88px;
    background-color: $color-white;
  }
}

.header-container {
  position: absolute;
  top: 42px;
  right: 32px;
  z-index: 5;

  @media (max-width: 1024px) {
    top: 25%;
  }

  @media (max-width: 540px) {
    right: 16px;
  }
}

.header-submit {
  display: flex;

  &__feedback {
    position: relative;
    display: none;
    margin-right: 20px;

    @media (max-width: 1024px) {
      display: block;
    }

    @media (max-width: 540px) {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 10%;
      right: 0;
      width: 2px;
      height: 32px;
      background-color: #eaeaea;
    }

    img {
      margin-right: 20px;
    }
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 600;
    
    &:nth-child(2) {
      margin-right: 32px;
      
      @media (max-width: 540px) {
        margin-right: 0;
      }
    }

    span {
      position: relative;
      font-weight: 700;

      @media (max-width: 1024px) {
        display: none;
      }

      &::before {
        @include hoverEffect;
        background-color: $color-radical-red;
      }
    }

    &:hover {

      span {
        &::before {
          width: 100%;
        }
      }
    }

    img {
      padding-left: 8px;
    }
  }

  @media (max-width: 540px) {
    &.active {
      display: none;
    }
  }
}